﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Actor>
@{
    ViewData["Title"] = "List Of Acotros"; 
}
<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Bio</th>
                    <th>Action</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePhoto" alt="@item.FullName" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @item.FullName
                        </td>

                        <td class="align-middle">
                            @item.Bio
                        </td>
                        
                            <td class="align-middle">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ActorId" ><i class="bi bi-pencil-square"></i>Edit </a> |
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ActorId"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.ActorId"><i class="bi bi-trash"></i>Delete </a>
                            </td>
                        

                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
